<main>
  <!-- Button to toggle chat form -->
  <button class="toggle-chat-button" (click)="toggleChatForm()">
    <img src="assets/chatbot.png" alt="Chatbot Logo" class="chatbot-logo">
    <span class="hello-text">Ctrl+F</span>
  </button>

  <!-- Chat form -->
  <div class="chat-container" *ngIf="isChatFormVisible">
    <div class="chat">
      <div class="chat-title">
        <h2>Future ChatBot Assistant</h2>
        <figure class="avatar">
          <img src="assets/esprit.jpg" />
        </figure>
      </div>
      <div class="messages">
        <div class="messages-content">
          <!-- Messages will be dynamically added here -->
        </div>
      </div>
      <form [formGroup]="chatForm" (ngSubmit)="add()">
        <div class="message-box">
          <textarea type="text" class="message-input" formControlName="message" placeholder="Type message..." (keydown.enter)="add() "></textarea>
          <button type="submit" class="message-submit sound-on-click">Send</button>
          <button class="toggle-chat-button2" (click)="toggleListening()">
            <img *ngIf="!isMicIconActive" src="assets/micro.png" alt="Chatbot Logo" class="chatbot-logo">
            <img *ngIf="isMicIconActive" src="assets/micon.png" alt="Chatbot Logo" class="chatbot-logo">
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="bg"></div>
</main>
