<div class="card card-clean mb-4 shadow-box">
    <div class="card-header bg-contrast">
        <app-navbar></app-navbar>
    </div>
    <div class="card-body">
        <div class="card card-clean mb-4 shadow-box">
            <div class="card-header bg-contrast">
                <h5 class="bold">Update Competence</h5>
            </div>
            <div class="card-body">
                <form (ngSubmit)="UpdateComp()" class="cozy" novalidate>
                    <div class="form-group">
                        <label for="competenceName" class="form-label mb-0">Competence Name</label>
                        <div class="form-group">
                            <input type="text" class="form-control" id="competenceName" placeholder="Enter your Competence" [(ngModel)]="competence.name" name="competenceName" required minlength="3" maxlength="100">
                            <div class="invalid-feedback">
                                Competence name is required and must be between 3 and 100 characters long.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="competenceLevel" class="form-label">Your Level</label>
                        <select class="form-select form-control-rounded" id="competenceLevel" [(ngModel)]="competence.importanceLevel" name="competenceLevel" required>
                            <option value="">Select a level</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select your competence level.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="competenceDescription" class="form-label">Description</label>
                        <textarea class="form-control form-control-rounded" id="competenceDescription" rows="3" [(ngModel)]="competence.description" name="competenceDescription" required minlength="10" maxlength="500"></textarea>
                        <div class="invalid-feedback">
                            Description is required and must be between 10 and 500 characters long.
                        </div>
                    </div>
                    <div class="me-5 mb-3">
                        <button type="submit" class="btn btn-rounded btn-outline-success">Update</button>
                    </div>
                </form>
            </div>
        </div>
        
        <app-footercomp></app-footercomp>
    </div>
</div>
