<footer class="site-footer section text-center block bg-dark text-contrast">
  <div class="container pb-4">
    <div class="section-heading"><i class="fa fa-rocket fa-2x"></i>
      <h2 class="bold mb-5 text-contrast">Ready to get started?</h2>
      <p class="lead mb-5">Unlock your business potential. Get your DashCore copy on ThemeForest now and save months of development time plus free lifetime updates and first-class support.</p>
      <p class="handwritten highlight font-md">Get Dashcore Now!!!</p><a href="assets/https://themeforest.net/item/dashcore-saas-startup-software-template/22397137" target="_blank" class="btn btn-lg btn-contrast btn-rounded mt-3 px-4">Buy it on Themeforest</a>
    </div>
    <hr class="mt-5">
    <div class="row align-items-center">
      <div class="col-md-6 text-center mx-auto"><img src="assets/img/logo-light.png" alt="" class="logo">
        <p class="mt-2 mb-0 text-muted small">© 2021 <a class="brand bold" target="_blank" href="assets/https://5studios.net">5studios.net</a>. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
