<nav class="navbar navbar-expand-md navigation sidebar-left block bg-contrast">
    <div class="container py-4"><button class="navbar-toggler" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a href="#main" class="navbar-brand"><img src="../img/logo.png" alt="Dashcore" class="logo logo-sticky"></a>
        <div class="collapse navbar-collapse ms-auto">
            <div class="sidebar-brand"><a href="#main"><img src="../img/logo.png" alt="Dashcore Template" class="logo"></a></div>
            <ul class="nav navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="javascript:;">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;">Pricing</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;">Download</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;">Blog</a></li>
            </ul>
            <nav class="nav navbar-nav ms-md-auto justify-content-center mt-4 mt-md-0 flex-row"><a class="btn btn-rounded btn-outline-primary me-3 px-3" href="javascript:;" target="_blank"><i class="fas fa-sign-in-alt d-none d-md-inline me-md-0 me-lg-2"></i> <span class="d-md-none d-lg-inline">Login</span> </a><a class="btn btn-rounded btn-primary px-3" href="javascript:;" target="_blank"><i class="fas fa-user-plus d-none d-md-inline me-md-0 me-lg-2"></i> <span class="d-md-none d-lg-inline">Signup</span></a></nav>
        </div>
    </div>
</nav>
