<app-header [pageTitle]="'Internship Offers'"></app-header>

<section class="section"(scroll)="onScroll($event)"style="margin-bottom: 50px;">
  <div class="container">

    <div class="col-md-auto col-lg-auto">

      <div class="recipe-container" id="filters">
        <div>
          <label for="Company">Company:&nbsp;&nbsp;</label>
          <select id="Company" [(ngModel)]="selectedTitle" (change)="applyFilters()">
            <option value="">All</option>
            <option *ngFor="let title of uniqueTitles" [value]="title">{{ title }}</option>
          </select>
        </div>

        <div>
          <label for="domain">Domain:&nbsp;&nbsp;</label>
          <select id="domain" [(ngModel)]="selectedDomain" (change)="applyFilters()">
            <option value="">All</option>
            <option *ngFor="let domain of uniqueDomains" [value]="domain">{{ domain }}</option>
          </select>
        </div>
        <div>
          <label for="duration">Duration:&nbsp;&nbsp;</label>
          <select id="duration" [(ngModel)]="selectedDuration" (change)="applyFilters()">
            <option value="">All</option>
            <option *ngFor="let duration of uniqueDurations" [value]="duration">{{ duration }}</option>
          </select>
        </div>
        <div>
          <label for="startDate">Start Date:&nbsp;&nbsp;</label>
          <select id="startDate" [(ngModel)]="selectedStartDate" (change)="applyFilters()">
            <option value="">All</option>
            <option *ngFor="let startDate of uniqueStartDates" [value]="startDate">{{ startDate }}</option>
          </select>
        </div>
        <div>
          <label for="AppliedOffers">Applied Offers:&nbsp;&nbsp;</label>
          <select id="AppliedOffers" [(ngModel)]="selectedAppliedOffer" (change)="applyFilters()">
            <option value="">All</option>
            <option value="apply">Apply for Offer</option>
            <option value="applied">Applied Offers</option>

            <option *ngFor="let offer of appliedOffers" [value]="offer">{{ offer }}</option>
          </select>
        </div>

        <button type="button" (click)="resetFilters()">Reset Filters</button>
      </div>

      <div class="row gap-y">
        <div class="pagination">
          <button class="btn btn-page" [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">Previous</button>
          <span>&nbsp;&nbsp;{{ currentPage }} / {{ totalPages }}</span>
          <button class="btn btn-page" [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">Next</button>
        </div>
        <!-- Column for Add New Internship Form -->
        <div class="col-lg-4">
          <app-streamlit-viewer></app-streamlit-viewer>

        </div>



        <!-- Column for Internship Offers -->
        <div class="col-md-6 col-lg-4" *ngFor="let stage of displayedStages">
          <div class="card card-blog shadow-box shadow-hover border-0 mb-4">
            <div class="card-body"[ngClass]="{'applied-bg': stage.isOfferApplied}">
              <div class="ag-courses_item">
                <a  class="ag-courses-item_link"(click)="openDetailsModal(stage)">
                  <div class="ag-courses-item_bg"></div>
                  <div class="ag-courses-item_title">{{ stage.title }}</div>
                  <div class="ag-courses-item_date-box">
                    Start: <span class="ag-courses-item_date">{{ stage.startDate }}</span>
                  </div>
                </a>
              </div>

              <p class="card-text text-secondary">{{ stage.description }}</p>
              <label class="form-label">Skills:</label>

              <div *ngIf="stage.competences && stage.competences.length > 0" class="mb-3">
                <div class="competence-container">
                  <div *ngFor="let competence of stage.competences" class="competence">
                    <p class="competence-name">{{ competence.name }}</p>
                    <div class="skill-level show-{{ competence.importanceLevel }}">
                      <span *ngFor="let span of spans"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="!(stage.competences && stage.competences.length > 0)" class="card-text text-secondary">
                No specific skills required for this offer.
              </div>


              <button class="btn" [ngClass]="{'btn-danger': !stage.isOfferApplied, 'btn-applied': stage.isOfferApplied}" (click)="applyForOffer(stage)">
                {{ stage.isOfferApplied ? '&nbsp;&nbsp;&nbsp;Offer Applied&nbsp;&nbsp;&nbsp;' : '&nbsp;&nbsp;&nbsp;Apply for Offer&nbsp;&nbsp;&nbsp;' }}
              </button>
              <p class="bold small text-secondary my-0"><small>Domain: {{ stage.domain }}</small></p>
              <p class="bold small text-secondary my-0"><small>Duration: {{ stage.duration }}</small></p>
            </div>


          </div>
        </div>
        <div id="detailsModal" class="modal" #detailsModal style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Details of Stage</h4>
                <h6 type="button" class="btn-close" aria-label="Close" (click)="closeDetailsModal()"></h6>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="detailstitle" class="form-label">Title</label>
                  <input type="text" class="form-control" id="detailstitle" name="title" [(ngModel)]="selectedStage.title" readonly>
                </div>
                <div class="mb-3">
                  <label for="detailsdescription" class="form-label">Description</label>
                  <textarea class="form-control" id="detailsdescription" name="description" [(ngModel)]="selectedStage.description" readonly rows="6"></textarea>
                </div>

                <div class="mb-3">
                  <label for="detailsdomain" class="form-label">Domain</label>
                  <input type="text" class="form-control" id="detailsdomain" name="domain" [(ngModel)]="selectedStage.domain" readonly>
                </div>
                <div class="mb-3">
                  <label for="detailsduration" class="form-label">Duration</label>
                  <input type="text" class="form-control" id="detailsduration" name="duration" [(ngModel)]="selectedStage.duration" readonly>
                </div>
                <div class="mb-3">
                  <label for="detailsstartDate" class="form-label">Start Date</label>
                  <input type="date" class="form-control" id="detailsstartDate" name="startDate" [(ngModel)]="selectedStage.startDate" readonly>
                </div>
                <div class="mb-3">
                  <label for="detailsendDate" class="form-label">End Date</label>
                  <input type="date" class="form-control" id="detailsendDate" name="endDate" [(ngModel)]="selectedStage.endDate" readonly>
                </div>
                <div class="mb-3">
                  <label for="detailsnumberOfPositions" class="form-label">Number of Positions</label>
                  <input type="number" class="form-control" id="detailsnumberOfPositions" name="numberOfPositions" [(ngModel)]="selectedStage.numberOfPositions" readonly>
                </div>

                <label class="form-label">Skills</label>

                <div *ngIf="selectedStage.competences && selectedStage.competences.length > 0" class="mb-3">
                  <div class="competence-container">
                    <div *ngFor="let competence of selectedStage.competences" class="competence">
                      <p class="competence-name">{{ competence.name }}</p>
                      <div class="skill-level show-{{ competence.importanceLevel }}">
                        <span *ngFor="let span of spans"></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="!(selectedStage.competences && selectedStage.competences.length > 0)" class="card-text text-secondary">
                  No specific skills required for this offer.
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

      </div>

    <app-chatbot class="absolute-top-right"[ngClass]="{'show-chatbot': showChatbot}" id="chatbot"></app-chatbot>

  </div>
  <div class="pagination">
    <button class="btn btn-page" [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">Previous</button>
    <span>&nbsp;&nbsp;{{ currentPage }} / {{ totalPages }}</span>
    <button class="btn btn-page" [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">Next</button>
  </div>
  <app-message style="position: absolute; top: 0; left: 0;"></app-message>

</section>

<app-footer></app-footer>
