#updateModal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}

::-webkit-scrollbar {
  width: 8px;


}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.competence-container {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
  margin-top: -15px;
}

.competence {
  margin-right: -310px; /* Adjust the margin between competences */
  white-space: nowrap;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.modal-dialog {
  max-width: 400px; /* Reduce the maximum width of the modal dialog */
  width: 100%;

}

.modal-content {
  padding: 10px; /* Reduce padding */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -20px;
}

.modal-title {
  margin: 0;
  font-size: 20px; /* Reduce font size */
}

.modal-body {
  padding: 0;
}

.form {
  padding: 10px; /* Reduce padding */
}

.form-label {
  margin-bottom: 4px; /* Reduce margin */
  font-size: 14px; /* Reduce font size */
}

.form-control {
  width: calc(100% - 20px); /* Adjust width with padding */
  padding: 8px; /* Reduce padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 14px; /* Reduce font size */
}

.btn-primary {
  background-color: #de2f3f;
  color: #fff;
  padding: 8px 16px; /* Reduce padding */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px; /* Reduce font size */
}

.btn-primary:hover {
  background-color: #9a1111;
}

h1{
  font-size: 22px;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h4 {
  font-size: 22px;
  color: #666; /* Grey color */
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Arial, sans-serif; /* Change the font family here */

}

.container4 {
  width: 90%;
  margin: 10px auto;
  text-transform: uppercase;
  text-align: center;
}
.skill-level {
  height: 1em;
  margin: 10px 0px;
  min-width: 400px;

}
.skill-level span {
  background: linear-gradient(#810505, #d70f21, #810505);
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,0.7);
  width: 12px;
  height: 4px;
  display: inline-block;
  margin: 0 1px;

}

.competence-name {
  font-size: 12px;
  margin-bottom: -20px;
}

.show-0 span:nth-child(n+1) {
  background: #bdbebe;
}
.show-1 span:nth-child(n+2) {
  background: #bdbebe;
}
.show-2 span:nth-child(n+3) {
  background: #bdbebe;
}
.show-3 span:nth-child(n+4) {
  background: #bdbebe;
}
.show-4 span:nth-child(n+5) {
  background: #bdbebe;
}
.show-5 span:nth-child(n+6) {
  background: #bdbebe;
}
/* Custom styles for the dropdown list */
.form-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 1.5em auto;
  padding: 0.5rem 2.5rem 0.5rem 1rem; /* Adjust padding */
  border: 1px solid #ced4da; /* Border color */
  border-radius: 0.25rem; /* Border radius */
  font-size: 1rem; /* Font size */
  color: #495057; /* Text color */
  cursor: pointer;
}

/* Custom styles for dropdown options */
.form-select option {
  background-color: #ffffff; /* Background color */
  color: #495057; /* Text color */
}

/* Custom styles for focused state */
.form-select:focus {
  border-color: #b00e1d; /* Border color when focused */
  outline: 0; /* Remove outline */
  box-shadow: 0 0 0 0.2rem rgb(176, 14, 29); /* Add shadow when focused */
}
.delete-button {
  margin-left: 20px;

  font-size: 0.7rem; /* Decrease the font size to make the button smaller */
  padding: 0.2rem 0.3rem; /* Adjust padding as needed */
  color: #d2d1d1;
}
.update-button {
  margin-left: 220px;

}
.addStage {
  margin-left: 140px;

}
.addComp {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-plus'%3E%3Cline x1='12' y1='5' x2='12' y2='19'/%3E%3Cline x1='5' y1='12' x2='19' y2='12'/%3E%3C/svg%3E");
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 320px;


}
.addSkill {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-plus'%3E%3Cline x1='12' y1='5' x2='12' y2='19'/%3E%3Cline x1='5' y1='12' x2='19' y2='12'/%3E%3C/svg%3E");
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 300px;
}
.form-select {
  width: calc(100% - 20px);}
