#updateModal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
}

.modal-dialog {
  max-width: 400px; /* Reduce the maximum width of the modal dialog */
  width: 100%;
}

.modal-content {
  padding: 10px; /* Reduce padding */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: -20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -20px;
}

.modal-title {
  margin: 0;
  font-size: 20px; /* Reduce font size */
}

.modal-body {
  padding: 0;
}

.form {
  padding: 10px; /* Reduce padding */
}

.form-label {
  margin-bottom: 4px; /* Reduce margin */
  font-size: 14px; /* Reduce font size */
}

.form-control {
  width: calc(100% - 20px); /* Adjust width with padding */
  padding: 8px; /* Reduce padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 14px; /* Reduce font size */
}

.btn-primary {
  background-color: #de2f3f;
  color: #fff;
  padding: 8px 16px; /* Reduce padding */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px; /* Reduce font size */
}

.btn-primary:hover {
  background-color: #9a1111;
}

h1{
  font-size: 22px;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h4 {
  font-size: 22px;
  color: #666; /* Grey color */
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Arial, sans-serif; /* Change the font family here */

}


