
<!--<app-header
    [pageTitle]="'List Feedback'">
</app-header>-->

<header class="header section text-contrast overlay overlay-dark-alpha-9 parallax cover" style="background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(assets/img/bg/sunrise.jpg); background-position: center top;">
    <div class="container-fluid pb-9">
    <div class="row text-center">
        <div class="col-12 col-lg-6 mx-auto"><img src="assets/img/logo-light.png" alt="">
        <h1 class="text-contrast bold display-4 display-md-3 text-capitalize mt-5">List Of Feedback</h1>
        </div>
        </div>
    </div>
</header>


<!-- ./Making stripe menu navigation -->
<nav class="st-nav navbar main-nav navigation fixed-top" id="main-nav">
    <div class="container">
      <ul class="st-nav-menu nav navbar-nav">
        <li class="st-nav-section nav-item"><a  class="navbar-brand"><img src="/assets/img/logo.png" alt="Dashcore" class="logo logo-sticky d-inline-block d-md-none"> <img src="/assets/img/logo-light.png" alt="Dashcore" class="logo d-none d-md-inline-block"></a></li>
        <li class="st-nav-section st-nav-primary nav-item"><a class="st-root-link nav-link" href="/assets/index.html">Home</a> <a class="st-root-link item-products st-has-dropdown nav-link" data-dropdown="blocks">Blocks</a> <a class="st-root-link item-products st-has-dropdown nav-link" data-dropdown="pages">Pages</a> <a class="st-root-link item-company st-has-dropdown nav-link" data-dropdown="components">UI Components</a> <a class="st-root-link item-blog st-has-dropdown nav-link" data-dropdown="blog">Blog</a> <a class="st-root-link item-shop st-has-dropdown nav-link" href="/assets/shop/" data-dropdown="shop">Shop</a></li>
        <li class="st-nav-section st-nav-secondary nav-item"><a class="btn btn-rounded btn-outline me-3 px-3" href="/assets/login.html" target="_blank"><i class="fas fa-sign-in-alt d-none d-md-inline me-md-0 me-lg-2"></i> <span class="d-md-none d-lg-inline">Login</span> </a><a class="btn btn-rounded btn-solid px-3"  target="_blank"><i class="fas fa-user-plus d-none d-md-inline me-md-0 me-lg-2"></i> <span class="d-md-none d-lg-inline">Signup</span></a></li><!-- Mobile Navigation -->
        <li class="st-nav-section st-nav-mobile nav-item"><button class="st-root-link navbar-toggler" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
          <div class="st-popup">
            <div class="st-popup-container"><a class="st-popup-close-button">Close</a>
              <div class="st-dropdown-content-group">
                <h4 class="text-uppercase regular">Pages</h4><a class="regular text-primary" href="/assets/about.html"><i class="far fa-building me-2"></i> About </a><a class="regular text-success" href="/assets/contact.html"><i class="far fa-envelope me-2"></i> Contact </a><a class="regular text-warning" href="/assets/pricing.html"><i class="fas fa-hand-holding-usd me-2"></i> Pricing </a><a class="regular text-info" href="/assets/faqs.html"><i class="far fa-question-circle me-2"></i> FAQs</a>
              </div>
              <div class="st-dropdown-content-group border-top bw-2">
                <h4 class="text-uppercase regular">Components</h4>
                <div class="row">
                  <div class="col me-4"><a target="_blank" href="/assets/components/alert.html">Alerts</a> <a target="_blank" href="/assets/components/badge.html">Badges</a> <a target="_blank" href="/assets/components/button.html">Buttons</a> <a target="_blank" href="/assets/components/color.html">Colors</a> <a target="_blank" href="/assets/components/accordion.html">Accordion</a> <a target="_blank" href="/assets/components/cookie-law.html">Cookielaw</a></div>
                  <div class="col me-4"><a target="_blank" href="/assets/components/overlay.html">Overlay</a> <a target="_blank" href="/assets/components/progress.html">Progress</a> <a target="_blank" href="/assets/components/lightbox.html">Lightbox</a> <a target="_blank" href="/assets/components/tab.html">Tabs</a> <a target="_blank" href="/assets/components/tables.html">Tables</a> <a target="_blank" href="/assets/components/typography.html">Typography</a></div>
                </div>
              </div>
              <div class="st-dropdown-content-group bg-light b-t"><a href="/assets/login.html">Sign in <i class="fas fa-arrow-right"></i></a></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="st-dropdown-root">
      <div class="st-dropdown-bg">
        <div class="st-alt-bg"></div>
      </div>
      <div class="st-dropdown-arrow"></div>
      <div class="st-dropdown-container">
        <div class="st-dropdown-section" data-dropdown="blocks">
          <div class="st-dropdown-content">
            <div class="st-dropdown-content-group">
              <div class="row">
                <div class="col me-4"><a class="dropdown-item" target="_blank" href="/assets/blocks/call-to-action.html">Call to actions</a> <a class="dropdown-item" target="_blank" href="/assets/blocks/contact.html">Contact</a> <a class="dropdown-item" target="_blank" href="/assets/blocks/counter.html">Counters</a> <a class="dropdown-item" target="_blank" href="/assets/blocks/faqs.html">FAQs</a></div>
                <div class="col me-4"><a class="dropdown-item" target="_blank" href="/assets/blocks/footer.html">Footers</a> <a class="dropdown-item" target="_blank" href="/assets/blocks/form.html">Forms</a> <a class="dropdown-item" target="_blank" href="/assets/blocks/navbar.html">Navbar</a> <a class="dropdown-item" target="_blank" href="/assets/blocks/navigation.html">Navigation</a></div>
                <div class="col"><a class="dropdown-item" target="_blank" href="/assets/blocks/pricing.html">Pricing</a> <a class="dropdown-item" target="_blank" href="/assets/blocks/slider.html">Sliders</a> <a class="dropdown-item" target="_blank" href="/assets/blocks/team.html">Team</a> <a class="dropdown-item" target="_blank" href="/assets/blocks/testimonial.html">Testimonials</a></div>
              </div>
            </div>
            <div class="st-dropdown-content-group">
              <h3 class="link-title"><i class="fas fa-long-arrow-alt-right icon"></i> Coming soon</h3>
              <div class="ms-5"><span class="dropdown-item text-secondary">Dividers </span><span class="dropdown-item text-secondary">Gallery </span><span class="dropdown-item text-secondary">Screenshots</span></div>
            </div>
          </div>
        </div>
        <div class="st-dropdown-section" data-dropdown="pages">
          <div class="st-dropdown-content">
            <div class="st-dropdown-content-group">
              <div class="mb-4">
                <h3 class="text-darker light text-nowrap"><span class="bold regular">Useful pages</span> you'll need</h3>
                <p class="text-secondary mt-0">Get a complete design stack</p>
              </div>
              <div class="row">
                <div class="col">
                  <ul class="me-4">
                    <li>
                      <h4 class="text-uppercase regular">Error</h4>
                    </li>
                    <li><a target="_blank" href="/assets/403.html">403 Error</a></li>
                    <li><a target="_blank" href="/assets/404.html">404 Error</a></li>
                    <li><a target="_blank" href="/assets/500.html">500 Error</a></li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="me-4">
                    <li>
                      <h4 class="text-uppercase regular">User</h4>
                    </li>
                    <li><a target="_blank" href="/assets/login.html">Login</a></li>
                    <li><a target="_blank" href="/assets/register.html">Register</a></li>
                    <li><a target="_blank" href="/assets/forgot.html">Forgot</a></li>
                  </ul>
                </div>
                <div class="col">
                  <ul>
                    <li>
                      <h4 class="text-uppercase regular">Extra</h4>
                    </li>
                    <li><a target="_blank" href="/assets/pricing.html">Pricing</a></li>
                    <li><a target="_blank" href="/assets/terms.html">Terms</a></li>
                    <li><a target="_blank" href="/assets/faqs.html">FAQ</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="st-dropdown-content-group"><a class="dropdown-item bold" href="/assets/about.html"><i class="far fa-building icon"></i> About </a><a class="dropdown-item bold" href="/assets/contact.html"><i class="far fa-envelope icon"></i> Contact </a><a class="dropdown-item bold" href="/assets/pricing.html"><i class="fas fa-hand-holding-usd icon"></i> Pricing</a></div>
          </div>
        </div>
        <div class="st-dropdown-section" data-dropdown="components">
          <div class="st-dropdown-content">
            <div class="st-dropdown-content-group"><a class="dropdown-item" target="_blank" href="/assets/components/color.html">
              <div class="d-flex align-items-center mb-3">
                <div class="bg-dark text-contrast icon-md center-flex rounded-circle me-2"><i class="fas fa-palette"></i></div>
                <div class="flex-fill">
                  <h3 class="link-title m-0">Colors</h3>
                  <p class="m-0 text-secondary">Get to know DashCore color options</p>
                </div>
              </div>
            </a><a class="dropdown-item" target="_blank" href="/assets/components/form-controls.html">
              <div class="d-flex align-items-center mb-3">
                <div class="bg-secondary text-contrast icon-md center-flex rounded-circle me-2"><i class="fab fa-wpforms"></i></div>
                <div class="flex-fill">
                  <h3 class="link-title m-0">Forms</h3>
                  <p class="m-0 text-secondary">All forms elements</p>
                </div>
              </div>
            </a><a class="dropdown-item" target="_blank" href="/assets/components/accordion.html">
              <div class="d-flex align-items-center mb-3">
                <div class="bg-success text-contrast icon-md center-flex rounded-circle me-2"><i class="fas fa-bars"></i></div>
                <div class="flex-fill">
                  <h3 class="link-title m-0">Accordion</h3>
                  <p class="m-0 text-secondary">Useful accordion elements</p>
                </div>
              </div>
            </a><a class="dropdown-item" target="_blank" href="/assets/components/cookie-law.html">
              <div class="d-flex align-items-center mb-4">
                <div class="bg-info text-contrast icon-md center-flex rounded-circle me-2"><i class="fas fa-cookie-bite"></i></div>
                <div class="flex-fill">
                  <h3 class="link-title m-0">CookieLaw</h3>
                  <p class="m-0 text-secondary">Comply with the hideous EU Cookie Law</p>
                </div>
              </div>
            </a>
              <h4 class="text-uppercase regular">Huge components list</h4>
              <div class="row">
                <div class="col me-4"><a class="dropdown-item" target="_blank" href="/assets/components/alert.html">Alerts</a> <a class="dropdown-item" target="_blank" href="/assets/components/badge.html">Badges</a> <a class="dropdown-item" target="_blank" href="/assets/components/button.html">Buttons</a></div>
                <div class="col me-4"><a class="dropdown-item" target="_blank" href="/assets/components/overlay.html">Overlay</a> <a class="dropdown-item" target="_blank" href="/assets/components/progress.html">Progress</a> <a class="dropdown-item" target="_blank" href="/assets/components/lightbox.html">Lightbox</a></div>
                <div class="col me-4"><a class="dropdown-item" target="_blank" href="/assets/components/tab.html">Tabs</a> <a class="dropdown-item" target="_blank" href="/assets/components/tables.html">Tables</a> <a class="dropdown-item" target="_blank" href="/assets/components/typography.html">Typography</a></div>
              </div>
            </div>
            <div class="st-dropdown-content-group"><a class="dropdown-item" target="_blank" href="/assets/components/wizard.html">Wizard </a><span class="dropdown-item d-flex align-items-center text-muted">Timeline <i class="fas fa-ban ms-auto"></i> </span><span class="dropdown-item d-flex align-items-center text-muted">Process <i class="fas fa-ban ms-auto"></i></span></div>
          </div>
        </div>
        <div class="st-dropdown-section" data-dropdown="blog">
          <div class="st-dropdown-content">
            <div class="st-dropdown-content-group">
              <div class="row">
                <div class="col me-4">
                  <h4 class="regular text-uppercase">Full width</h4><a class="dropdown-item" target="_blank" href="/assets/blog/blog-post.html">Single post</a> <a class="dropdown-item" target="_blank" href="/assets/blog/blog-grid.html">Posts Grid</a>
                </div>
                <div class="col me-4">
                  <h4 class="regular text-uppercase">Sidebar left</h4><a class="dropdown-item" target="_blank" href="/assets/blog/blog-post-sidebar-left.html">Single post</a> <a class="dropdown-item" target="_blank" href="/assets/blog/blog-grid-sidebar-left.html">Posts Grid</a>
                </div>
              
              </div>
            </div>
          </div>
        </div>
        <div class="st-dropdown-section" data-dropdown="shop">
          <div class="st-dropdown-content">
            <div class="st-dropdown-content-group"><a class="dropdown-item mb-4" target="_blank" href="/assets/shop/">
              <div class="d-flex align-items-center">
                <div class="bg-success text-contrast icon-md center-flex rounded-circle me-2"><i class="fas fa-shopping-basket"></i></div>
               
              </div>
            </a><a class="dropdown-item" target="_blank" href="/assets/shop/cart.html">
              <div class="d-flex align-items-center">
                <div class="bg-info text-contrast icon-md center-flex rounded-circle me-2"><i class="fas fa-shopping-cart"></i></div>
            
              </div>
            </a></div>
         
          </div>
        </div>
      </div>
    </div>
  </nav>

  <main>
    <body>
        <section class="block bg-contrast">
            <div class="container py-4">
                <div class="section-heading text-center">
                    <h2 class="bold mt-3">Our students have a lot to say</h2>
                </div>


                <div class="swiper-container" data-sw-navigation="#sw-nav-testimonials-1" data-sw-active-selector="img">
                    <div *ngFor="let e of listFeedbacks" class="swiper-container" data-sw-navigation="#sw-nav-testimonials-1" >
                
                    
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <blockquote class="text-center"><i class="fas fa-quote-left fa-2x op-4"></i>
                                <h4 class="stripe">{{ e.email }}</h4>
                            
                                <p class="lead">{{ e.acontent }}</p>
                                <hr class="w-10 mt-5">
                                
                            </blockquote>
                        </div>
                        </div>
                    </div>
                </div>



                <nav id="sw-nav-testimonials-1" class="swiper-nav-thumbs nav nav-circle mt-4 align-items-center justify-content-center"><a class="nav-item nav-link" href="#" data-step="1"></a></nav>
            </div>
        </section>


        <section class="section slider-testimonials block bg-contrast">
            <div class="container swiper-center-nav py-4">
                <div class="card strong-top-bordered-card">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <!-- Prev button -->
                            <div class="swiper-button swiper-button-prev nav-testimonial-prev rounded-circle shadow"><i data-feather="arrow-left"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </body>
  </main>

  <app-footer></app-footer>