
<section id="features" class="section features">
    <div class="container" >
        <div class="section-heading text-center">
            <h2 class="bold">List of Feedback</h2>
            </div>
        <div class="row gap-y text-center text-md-start" >
            <div class="col-md-4" *ngFor="let e of listFeedbacks">
                <div class="card shadow-hover lift-hover" >
                    <div class="card-body p-5"><i data-feather="star" width="36" height="36" class="mb-5 stroke-primary"></i>
                        <h5 class="bold">{{e.acontent}}</h5>
                        <p class="">{{e.email}}</p>
                        
                    </div>
                    <div>
                    <button class="badge badge-pill badge-danger btn-sm"
                    (click)="removeFeedback(e.idFeedback)">Delete
                </button>
                
                </div>
                </div>
        
            </div>
        </div>
    </div>
</section><!-- ./Tons of benefits -->