/* Dropdown toggle button */
.dropdown.st-nav-section.st-nav-primary.nav-item .nav-link.dropdown-toggle {
  padding: 0.5rem; /* Add padding to dropdown toggle button */
  border-radius: 8px; /* Add border-radius to dropdown toggle button */
}

/* Dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%; /* Center the dropdown menu horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  z-index: 1000;
  min-width: 8rem;
  padding: 0.5rem; /* Apply the same padding as the dropdown toggle button */
  margin: 0.125rem 0 0;
  font-size: 0.875rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px; /* Apply the same border-radius as the dropdown toggle button */
}

/* Show the Dropdown Menu on Hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Dropdown Item */
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529; /* Text color */
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent; /* Background color */
  border: 0;
}

/* Dropdown Item Hover */
.dropdown-item:hover,
.dropdown-item:focus {
  color: #16181b; /* Text color on hover/focus */
  text-decoration: none;
  background-color: #f8f9fa; /* Background color on hover/focus */
}

/* Active Dropdown Item */
.dropdown-item.active,
.dropdown-item:active {
  color: #ffffff; /* Text color */
  text-decoration: none;
  background-color: #007bff; /* Background color */
}

/* Disabled Dropdown Item */
.dropdown-item.disabled,
.dropdown-item:disabled {
  color: rgba(0, 0, 0, 0.5); /* Disabled text color */
  pointer-events: none;
  background-color: transparent; /* Background color */
}

/* CSS for hover effect on dropdown buttons */
.dropdown.st-nav-section.st-nav-primary.nav-item:hover .nav-link.dropdown-toggle {
  color: #fff; /* Change text color on hover */
  background-color: #3a3a72; /* Change background color on hover */
}
