<nav class="st-nav navbar main-nav navigation fixed-top" id="main-nav" style="opacity: 50;">
  <div class="container">
    <ul class="st-nav-menu nav navbar-nav">
      <li class="st-nav-section nav-item">
        <a href="#main" class="navbar-brand">
          <img src="./assets/img/logo.png" alt="Dashcore" class="logo logo-sticky d-inline-block d-md-none">
          <img src="./assets/img/logo-light.png" alt="Dashcore" class="logo d-none d-md-inline-block">
        </a>
      </li>
      <li class="st-nav-section st-nav-primary nav-item">
        <a class="st-root-link nav-link" href="./assets/index.html">Home</a>
      </li>
      <li class="st-nav-section st-nav-primary nav-item">
        <a class="st-root-link nav-link" [routerLink]="['/add-doc']" >Documents</a>
      </li>
     
      <!-- Repeat the same structure for other dropdown items -->
      <li class="dropdown st-nav-section st-nav-primary nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Planing
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <!-- Dropdown items for Pages -->
          <a class="dropdown-item" href="#">Dropdown Item 1</a>
          <a class="dropdown-item" href="#">Dropdown Item 2</a>

        </div>
      </li>
      <li class="dropdown st-nav-section st-nav-primary nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="componentsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Internships
        </a>
        <div class="dropdown-menu" aria-labelledby="componentsDropdown">
          <!-- Dropdown items for UI Components -->
          <a class="dropdown-item" href="#">Dropdown Item 1</a>
          <a class="dropdown-item" href="#">Dropdown Item 2</a>
          <a class="dropdown-item" href="#">Dropdown Item 3</a>

        </div>
      </li>
      <li class="dropdown st-nav-section st-nav-primary nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="blogDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Blog
        </a>
        <div class="dropdown-menu" aria-labelledby="blogDropdown">
          <!-- Dropdown items for Blog -->
          <a class="dropdown-item" href="#">Dropdown Item 1</a>
          <a class="dropdown-item" href="#">Dropdown Item 2</a>
          <a class="dropdown-item" href="#">Dropdown Item 3</a>
          <a class="dropdown-item" href="#">Dropdown Item 4</a>

        </div>
      </li>
      <!-- Shop link -->
      <li class="st-nav-section st-nav-primary nav-item">
        <a class="st-root-link item-shop nav-link" href="./assets/shop/" data-dropdown="shop">My Profile</a>
      </li>
      <!-- Secondary navigation items -->
      <li class="st-nav-section st-nav-secondary nav-item">
        <a class="btn btn-rounded btn-outline me-3 px-3" href="javascript:history.back()">
          <i class="fas fa-sign-in-alt d-none d-md-inline me-md-0 me-lg-2"></i> <span class="d-md-none d-lg-inline">LogOut</span>
        </a>
      </li>

      <li class="st-nav-section st-nav-mobile nav-item">
        <button class="st-root-link navbar-toggler" type="button">
          <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
      </li>
    </ul>
  </div>
</nav>
<main class="overflow-hidden">

  <app-header></app-header>
  <div class="shadow bg-contrast p-4 rounded">
    <div class="row gap-y text-center">
      <div class="col-12 col-md-4 py-4 px-5 d-flex flex-column">
        <div class="icon-shape mb-4"><img src="./assets/img/shps/bullets/1.svg" class="shape shape-xxl icon-xxl"
                                          alt="">
          <div
            class="rounded-circle bg-primary shadow-3 p-3 d-flex align-items-center justify-content-center shadow icon-xl center-xy">
            <img src="./assets/img/demo/logo/bootstrap.svg" class="img-responsive" alt=""></div>
        </div>
        <h4 class="text-darker bold mt-3">Boostrap 5</h4>
        <p class="mt-4">Powered with the world’s most popular front-end open source toolkit.</p>
      </div>
      <div class="col-12 col-md-4 py-4 px-5 d-flex flex-column">
        <div class="icon-shape mb-4"><img src="./assets/img/shps/bullets/2.svg" class="shape shape-xxl icon-xxl"
                                          alt="">
          <div
            class="rounded-circle gradient gradient-blue-purple shadow-4 p-3 d-flex align-items-center justify-content-center shadow icon-xl center-xy">
            <img src="./assets/img/demo/logo/webpack.svg" class="img-responsive" alt=""></div>
        </div>
        <h4 class="text-darker bold mt-3">Webpack</h4>
        <p class="mt-4">Module Bundler for modern JavaScript applications.</p>
      </div>
      <div class="col-12 col-md-4 py-4 px-5 d-flex flex-column">
        <div class="icon-shape mb-4"><img src="./assets/img/shps/bullets/3.svg" class="shape shape-xxl icon-xxl"
                                          alt="">
          <div
            class="rounded-circle bg-info shadow-4 p-3 d-flex align-items-center justify-content-center shadow icon-xl center-xy">
            <img src="./assets/img/demo/logo/jquery.svg" class="img-responsive" alt=""></div>
        </div>
        <h4 class="text-darker bold mt-3">jQuery</h4>
        <p class="mt-4">Flat HTML+jQuery old-fashion variations.</p>
      </div>
    </div>
  </div>

  <section class="section mt-n6">

    <div class="container pt-0">
    </div>
  </section>
  <section class="section" id="demos">
    <div class="container-fluid">
      <div class="section-heading text-center">
        <h2 class="bold">Demo Selection</h2>
        <p class="lead text-secondary">We have created multiple pre-made demos for you, please select the one you like
          the most to give it a try</p>
        <p class="handwritten highlight font-md">Or you can</p><a href="./assets/angular"
                                                                  class="btn btn-danger btn-rounded btn-lg"><i
        class="fab fa-angular me-2"></i> Check the Angular version</a>
      </div>
      <div class="row gap-y">
        <div class="col-sm-6 col-md-4">
          <div class="card card-demo card--blog shadow-box border-0">
            <div class="card-body d-flex align-items-center"><span
              class="is-new badge badge-danger badge-pill">New</span>
              <h4 class="card-title mb-0 text-capitalize">Payment Services</h4>
              <nav class="btn-group ms-auto"><a href="./assets/payment-services.html" target="_blank"
                                                class="btn btn-warning rounded-pill"><i class="icon fas fa-desktop"></i>
                <span class="demo-link-text">Demo</span></a></nav>
            </div>
            <figure class="preview-overlay m-0">
              <div class="preview-pane">
                <div class="preview-page" data-simplebar><img class="card-img-bottom img-responsive"
                                                              src="./assets/img/demo/screen/14.png" alt=""></div>
              </div>
            </figure>
          </div>
        </div>



        <div class="col-sm-6 col-md-4">
          <div class="card card-demo card--blog shadow-box border-0">
            <div class="card-body d-flex align-items-center"><span
              class="is-new badge badge-danger badge-pill">New</span>
              <h4 class="card-title mb-0 text-capitalize">App Landing</h4>
              <nav class="btn-group ms-auto"><a href="./assets/app-landing-2.html" target="_blank"
                                                class="btn btn-warning rounded-pill"><i class="icon fas fa-desktop"></i>
                <span class="demo-link-text">Demo</span></a></nav>
            </div>
            <figure class="preview-overlay m-0">
              <div class="preview-pane">
                <div class="preview-page" data-simplebar><img class="card-img-bottom img-responsive"
                                                              src="./assets/img/demo/screen/10.png" alt=""></div>
              </div>
            </figure>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="card card-demo card--blog shadow-box border-0">
            <div class="card-body d-flex align-items-center"><span
              class="is-new badge badge-danger badge-pill">New</span>
              <h4 class="card-title mb-0 text-capitalize">Integration</h4>
              <nav class="btn-group ms-auto"><a href="./assets/integration.html" target="_blank"
                                                class="btn btn-warning rounded-pill"><i class="icon fas fa-desktop"></i>
                <span class="demo-link-text">Demo</span></a></nav>
            </div>
            <figure class="preview-overlay m-0">
              <div class="preview-pane">
                <div class="preview-page" data-simplebar><img class="card-img-bottom img-responsive"
                                                              src="./assets/img/demo/screen/11.png" alt=""></div>
              </div>
            </figure>
          </div>
        </div>

      </div>
    </div>
  </section>
  <div class="position-relative">
    <div class="shape-divider shape-divider-bottom shape-divider-fluid-x text-dark">
      <svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"></path>
      </svg>
    </div>
  </div>
  <app-footer></app-footer>
</main>
