.download-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.download-button i {
  color: #5d5c5c;
  font-size: 16px;
}
center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Keyframes */
@keyframes ball {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 3px;
  }
  80% {
    margin-top: -5px;
  }
}

@keyframes pop {
  0% {
    transform: scale(.6);
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}

/* CSS Styles */
.mCSB_container {
  margin: 0 !important;
}

.mCSB_scrollTools {
  margin-right: -3px;
}

* {
  outline: none;
}

body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right bottom, #bdc3c7, #2c3e50);
  background: linear-gradient(to right bottom, #bdc3c7, #2c3e50);
}

body {
  font-family: 'Microsoft JhengHei', Arial, sans-serif;
  background: url('https://www.transparenttextures.com/patterns/45-degree-fabric-light.png');
  letter-spacing: 1px;
}

.chat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 390px;
  height: 80vh;
  max-height: 500px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency as needed */
  overflow: hidden;
}

.chat-title {
  background-color: rgba(0, 0, 0, 0.3);
    /* Adjust the transparency as needed */

}

.chat-title::after {
  content: "";
  display: block;
  clear: both;

}

.chat-title h2 {
  margin: 10px 0;
  padding: 0;
  color: #f0f0f0;
  font-weight: normal;
  font-size: 16px;
  display: inline-block;

}




.chat-title .avatar {
  float: left;
  margin: 10px;
  padding: 0;
  width: 30px;
  height: 30px;
}

.chat-title .avatar img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.avatar2 img {
  border-radius: 50%;
  width: 15px;
  height: 15px;

}

.messages {
  width: 100%;
  height: calc(100% - 90px);

}

.messages-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;

}

.lastmsg-time {
  position: fixed;
  top: 98%;
  width: auto;
  right: 2px;
  font-size: 10px;
  color: #757b86; /* Adjust color as needed */
  font-family: Arial, sans-serif;
  white-space: nowrap; /* Prevent wrapping to another line */
}

.message {
  max-width: calc(100% + 76px);

  padding: 8px;
  margin:  30px 0 8px 12px;
  border-radius: 25px !important;
  background-color: rgb(52, 55, 57); /* Adjust the transparency as needed */
  color: #e3e3e3;
  float: left;
  font-size: 13px;
  position: relative;
  word-break: break-all;
  clear: both;
  animation: pop 0.3s forwards;

}

.message2 {
  max-width: calc(100% - 76px);
  padding: 8px;
  margin: 30px 0 8px 12px;
  border-radius: 25px;
  background-color: rgb(131, 11, 11); /* Adjust the transparency as needed */
  color: #e3e3e3;
  float: right;
  font-size: 13px;
  position: relative;
  word-break: break-all;
  clear: both;
  animation: pop 0.3s forwards;


}
.message-deleted2 {
  border: 1px solid rgb(131, 11, 11); /* Red border */

  max-width: calc(100% - 76px);
  padding: 8px;
  margin: 30px 0 8px 12px;
  border-radius: 25px;
  background-color: transparent; /* Adjust the transparency as needed */
  color: #757b86;
  float: right;
  font-size: 13px;
  position: relative;
  word-break: break-all;
  clear: both;
  animation: pop 0.3s forwards;
}
.message-deleted
{
  border: 1px solid rgb(52, 55, 57); /* Red border */
  max-width: calc(100% - 76px);
  padding: 8px;
  margin: 30px 12px 8px 12px; /* Adjust margin as needed */
  border-radius: 25px;
  background-color: transparent; /* Set background color to transparent */
  color: #757b86;
  float: left;
  font-size: 12px;
  position: relative;
  word-break: break-all;
  clear: both;
  animation: pop 0.3s forwards;
  white-space: nowrap;
}
.message-file {
  max-width: calc(100% - 76px);
  padding: 8px;
  margin: 30px 0 8px 12px;
  border-radius: 25px;
  background-color: rgb(52, 55, 57); /* Adjust the transparency as needed */
  color: #e3e3e3;
  float: right;
  font-size: 13px;
  position: relative;
  word-break: break-all;
  clear: both;
  animation: pop 0.3s forwards;

}
.message-file2 {
  max-width: calc(100% - 76px);
  padding: 8px;
  margin: 30px 12px 8px 12px; /* Adjust margin as needed */
  border-radius: 25px !important;
  background-color: rgb(52, 55, 57); /* Adjust the transparency as needed */
  color: #e3e3e3;
  float: left;
  font-size: 13px;
  position: relative;
  word-break: break-all;
  clear: both;
  animation: pop 0.3s forwards;
}


message-deleted2 {
  max-width: calc(100% - 76px);
  padding: 8px;
  margin: 8px 0 8px 12px;
  border-radius: 25px;
  background-color: transparent; /* Set background color to transparent */
  border: 2px solid rgba(131, 11, 11,0.7); /* Adjust the transparency as needed */
  color: #e3e3e3;
  float: right;
  font-size: 13px;
  position: relative;
  word-break: break-all;
  clear: both;
  animation: pop 0.3s forwards;

}
.message .timestamp {
  position: absolute;
  right: -40px;
  bottom: 0;
  font-size: 12px;
  color: #bababa;
}

.message.personal {
  float: right;
  margin: 8px 12px 8px 0;
}

.message.personal .timestamp {
  right: auto;
  left: -40px;
}

.message.typing {
  width: 30px;
  height: 16px;
}

.message.typing::after {
  content: "";
  border-radius: 50%;
  width: 3px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ball 1.2s infinite linear;
}

.message.typing span {
  border-radius: 50%;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message.typing span::before,
.message.typing span::after {
  content: "";
  border-radius: 50%;
  width: 3px;
  height: 3px;
  position: absolute;
  background-color: white;
  animation: ball 1.2s infinite linear;
}

.message.typing span::before {
  left: 8px;
  animation-delay: 0.3s;
}

.message.typing span::after {
  right: 8px;
  animation-delay: -0.3s;
}

.action-box {
  background-color: rgba(0, 0, 0, 0.3);
  width: 102%;
  height: 39px;
  border-radius: 600px;
  display: flex; /* Ensure that the action box is displayed as a flex container */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space items evenly */
  padding: 0 10px; /* Add padding to the action box */
}


.action-box::after {
  content: "";
  display: block;
  clear: both;
}


.fa-paper-plane {
  color: #fff;
  font-size: 10px;
  margin-left: -3px;
  cursor: pointer;
  transition: 0.3s;
}
.action-box-input {
  background-color: transparent;
  color: white;
  margin: 10px 0; /* Adjust vertical margin */
  padding: 0 15px; /* Reduce the padding to make it shorter */
  font-size: 16px;
  letter-spacing: 1px;
  width: 80px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  line-height: 45px; /* Set the line-height equal to the height */
  resize: none; /* Disable resizing */
  overflow: hidden; /* Hide any overflowing content */
}

.action-box-input::-webkit-input-placeholder {
  line-height: 40px;
  font-size: 16px;
}

.action-box-input {
  flex: 1; /* Make the input and submit button take up equal space */
  box-sizing: border-box;
  border: 0;
  float: left;
  font-size: 100%;
}
.file-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #0e0e0e;
  font-size: 16px;
}

.input-container {
  display: flex;
  align-items: center;
}


.hidden {
  display: none;
}

.file-button {
  display: inline-block;
  cursor: pointer;
}

.file-button img {
  width: 25px; /* Adjust the width and height as needed */
  height: 25px;
  filter: grayscale(100%); /* Example filter values */

}





.action-box-submit {
  background-color: rgba(189, 195, 199, 0.2);
  color: white;
  cursor: pointer;
  border: none;
  padding: 8px 20px; /* Adjust the padding as needed */
  border-radius: 30px; /* Adjust the border-radius as needed */
  margin-left: 10px;
  font-size: 15px; /* Adjust the font-size as needed */
  line-height: 1; /* Set the line-height to 1 */
}
/*position: absolute;
  z-index: 1;
  top: 9px;
  right: 10px;
  color: #fff;
  border: none;
  background: #248A52;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none!important;
  transition: background .2s ease;*/




.message {
  clear: both;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  word-wrap: break-word;
}

.sender {
  float: right !important;
  background-color: #4CAF50;
  color: white;
}

.message {
  float: left !important;
  background-color: rgb(52, 55, 57);
  color: #ffffff;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}

.container {
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;


}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.message-time {
  position: relative;
  cursor: pointer; /* Add cursor:pointer to indicate it's clickable */
}

.message-container {
  position: relative;

}

.message-content {
  position: relative;
  max-width: 260px;

}


.message2 .popup {
  /* Styles for popup in sender messages */
  display: none;
  position: absolute;
  top: calc(100% - 25px); /* Adjust the top position as needed */
  left: -68px;
  transform: translateX(-50%);

  padding: 5px;
  background-color: rgba(253, 252, 252, 40%);
  border: 1px solid #626262;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 12px;
  color: #0a0e16;
  transition: opacity 0.2s;
}


.message2 .message-content:hover .popup {
  display: block;
}

.message2:hover .popup {
  display: block;
}

.reaction-button2:hover + .popup {
  display: none;
}

.select-button2:hover + .popup {
  display: none;
}

.message .popup {
  display: none;
  position: absolute;
  left: calc(100% + 68px);
  top: -5px;
  transform: translateX(-50%);
  padding: 5px;
  background-color: rgba(253, 252, 252, 40%);
  border: 1px solid #626262;
  border-radius: 5px;
  bottom: -32%;
  white-space: nowrap;
  font-size: 12px;
  color: #0a0e16;
  transition: opacity 0.2s;


}

.message-content {
  position: relative;
}

.popup {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  /* Additional styling for the popup */
}

.message-content:hover .popup {
  display: block;
}

.message .message-content:hover .popup {
  display: block;
}


.lastmsg-time {
  position: fixed;
  top: 98%;
  right: 2px;
  font-size: 10px;

  color: #757b86; /* Adjust color as needed */
  font-family: Arial, sans-serif;
}
.minimized {
  height: 50px; /* Adjust the height as needed */
  width: 400px; /* Adjust the width as needed */
  overflow: hidden;
}
.min-button {
  opacity: 1;
  height: 100px; /* Adjust the height as needed */
  width: 25px; /* Adjust the width as needed */
  top: -25px;
  position: absolute;
  left: 340px; /* Adjust the value as needed */
  color: #939292;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 32px;
  font-weight: bold !important; /* Making the button bold */

}
.minimized1{
  position: absolute;
margin-left: 20px;
margin-top:-7px;}
.maximized{
  position: absolute;
  margin-left: 10px;
  margin-top:-2px;
}

.reaction-button {

  opacity: 0;
  position: fixed;
  top: calc(100% - 40px);
  left: calc(100% + 50px);
  color: #939292;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 30px;
}

.reaction-button2 {
  opacity: 0;
  position: fixed; /* Change to absolute positioning */
  top: calc(100% - 40px); /* Adjust top position as needed */
  right: calc(100% + 40px); /* Adjust right position as needed */
  color: #9d9c9c;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 30px;
}

.select-button2 {
  opacity: 0;
  position: fixed;
  top: calc(100% - 27px);
  right: calc(100% + 70px);
  color: #9d9c9c;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 18px;

}

.select-button {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: fixed;
  top: calc(100% - 35px);
  left: calc(100% + 80px);
  color: #737373;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 30px;
}

.reaction-popup {
  position: fixed;
  top: calc(100% - 40px);
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.reaction-popup button {
  margin-right: 5px;
}

.reaction-popup.show {
  opacity: 1; /* Show the popup by setting opacity to 1 */
}
.reaction-container {
  top: calc(100% - 40px);
  left: calc(100% );
  display: flex;
background-color: rgba(170, 187, 204, 0.1);
  border-radius: 10px; /* Add border radius for rounded corners */
}

.reaction-buttons-container {
  top: calc(100% - 60px);
  left: calc(100% - 20px);
  display: flex;
  background-color: #f0f0f0; /* Add a background color to the container for visibility */
  border-radius: 10px; /* Add border radius for rounded corners */
}

.reaction-buttons-container button {
  margin-right: -5px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.reaction-buttons-container button:hover {
  transform: scale(1.2);
}

.message-class:hover .reaction-button {
  visibility: visible; /* Show the button when hovering over the message */
}

.reaction-popup2 {
  position: fixed;
  top: calc(100% - 40px);
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.reaction-popup2 button {
  margin-right: 5px;
}

.reaction-popup2.show {
  opacity: 1; /* Show the popup by setting opacity to 1 */
}

.reaction-container2 {
  top: calc(100% - 40px);
  left: -14px;
  display: flex;
  background-color: rgb(147, 145, 145); /* Adjust the transparency as needed */
  border-radius: 8px; /* Add border radius for rounded corners */
}

.reaction-container2 button {
  margin-right: -5px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}
.reaction-container2 button:hover {
  transform: scale(1.2);
}/* Additional styles for chat elements... */
.reaction-container {
  top: calc(100% - 40px);
  left: calc(100% - 5px);
  display: flex;
  background-color: rgb(147, 145, 145); /* Adjust the transparency as needed */
  border-radius: 8px; /* Add border radius for rounded corners */
}
.reaction-container button {
  margin-right: -5px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}
.reaction-container button:hover {
  transform: scale(1.2);
}/* Additional styles for chat elements... */
.reaction-buttons-container2 {
  top: calc(100% - 60px);
  left: calc(100% - 290px);
  display: flex;
  background-color: #f0f0f0; /* Add a background color to the container for visibility */
  border-radius: 10px; /* Add border radius for rounded corners */
}

.reaction-buttons-container2 button {
  margin-right: -5px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.reaction-buttons-container2 button:hover {
  transform: scale(1.2);
}

.message-class2:hover .reaction-button2 {
  visibility: visible; /* Show the button when hovering over the message */
}

.message-content {
  position: relative;
}



.message-content:hover .reaction-button2 {
  opacity: 1;
}
.message-content:hover .select-button2 {
  opacity: 0.2;

}

.date-container {
  position: fixed;
  top: 98%;
  width: calc(100% - 1px);
  right: 2px;
  font-size: 10px;
  color: #757b86; /* Adjust color as needed */
  font-family: Arial, sans-serif;
  white-space: nowrap; /* Prevent wrapping to another line */
  letter-spacing: -0.2px; /* Adjust the negative value to make letters closer */
}
.date-container2{
  position: fixed;
  top: 98%;
  right: 2px;
  font-size: 10px;
  color: #757b86; /* Adjust color as needed */
  font-family: Arial, sans-serif;
  white-space: nowrap; /* Prevent wrapping to another line */
  letter-spacing: -0.2px; /* Adjust the negative value to make letters closer */
}

.message-content {
  position: relative;
}


.message-content:hover .reaction-button {
  opacity: 1;
}


