<div class="col-md-5 col-lg-4 mx-auto">
    <div class="register-form mt-5 mt-md-0 text-end"><img src="img/logo.png" class="logo img-responsive mb-4 mb-md-6" alt="">
        <h1 class="text-darker bold">Add your post </h1>
        <form #addpostform="ngForm" (ngSubmit)="addpost()" class="cozy"  >
            <div class="form-group has-icon"><input type="text" id="register_username" class="form-control form-control-rounded" placeholder="Add title" [ngModel]="posts.title" name="title"> <i class="icon fas fa-address-card"></i></div>
            <div class="form-group has-icon"><input type="text" id="register_fullname" class="form-control form-control-rounded" placeholder="Add description " [ngModel]="posts.description" name="description"> <i class="icon fas fas fa-info-circle"></i></div>
            <div class="form-group has-icon"><input type="text" id="register_email" class="form-control form-control-rounded" placeholder="Add file"> <i class="icon fas fas fa-file"[ngModel]="posts.file" name="file"></i></div>
            <div class="form-group has-icon"><input type="text" id="register_email" class="form-control form-control-rounded" placeholder="Creation Date"> <i class="icon fas fas fa-file"[ngModel]="posts.creationdate" name="creation date"></i></div>

            <div class="form-group d-flex align-items-center justify-content-between"><button type="submit" class="btn btn-primary btn-rounded ms-auto">Add <i class="fas fa-long-arrow-alt-right ms-2"></i></button></div>
        </form>
        <div class="mt-5">
            <p class="small text-secondary"><a href="terms.html">Terms of Service</a></p>
        </div>
    </div>
</div>
