.calendar-container {
    width: 80%; /* Définir une largeur appropriée */
    margin: 0 auto; /* Centrer horizontalement */
    padding: 20px; /* Ajouter un espacement intérieur */
  }
  .favorite {
    color: yellow; /* Couleur jaune */
  }
  