<app-header></app-header>
<br>
<div class="container-fluid">
  <div class="row">
    <!-- Colonne pour le calendrier -->
    <div class="col-md-6">
      <div class="calendar-container">
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
    </div>
    <!-- Colonne pour la liste des plannings -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Planning List
          <!-- Liste déroulante pour filtrer par niveau -->
          <div class="float-right">
            <label for="filterByLevel">Filter by level:</label>
            <select id="filterByLevel" class="form-control" [(ngModel)]="selectedLevel" (change)="filterPlanningsByLevel()">
              <option value="">All Levels</option>
              <option *ngFor="let level of niveauxList" [value]="level">{{ level }}</option>
            </select>
          </div>
        </div>
        <div class="list-group">
          <!-- Liste des plannings filtrés par niveau -->
          <div class="list-group-item" *ngFor="let planning of filteredPlannings">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h5 class="mb-1">{{ planning.title }}</h5>
                <br>
                <p class="mb-1">{{ planning.niveau }}</p>
                <small class="text-muted">Start: {{ planning.dateDebut | date }}</small>
                <br>
                <small class="text-muted">End: {{ planning.dateFin | date }}</small>
              </div>
              <button (click)="toggleFavorite(planning)" [ngClass]="{'favorite': isFavorite(planning.idPlanning)}">
                <i class="fa fa-star"></i>
              </button>
             </div>
             <a [routerLink]="['/details', planning.idPlanning]" class="details-link">Details</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<app-footer></app-footer>