<!doctype html>
<html lang="en">
<body>
<app-header></app-header>
<main>
  <section class="section">
    <div class="container">

      <div class="row gap-y">
        <div class="col-lg-8 b-l order-lg-2">
          <div class="row gap-y">
            <h1>Reclamations</h1>

            <!-- Get stages -->
            <div class="col-md-6" *ngFor="let Reclamation of rec">
              <div class="card card-blog shadow-box shadow-hover border-0">
                <a><img class="card-img-top img-responsive" src="https://picsum.photos/350/200/?random&gravity=north" alt=""></a>
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="author d-flex align-items-center">
                      <img class="author-picture rounded-circle icon-md shadow-box" src="/assets/img/avatar/user.png" alt="...">
                      <p class="small bold my-0">{{ Reclamation.title }}</p>
                    </div>
                    <button class="btn btn-primary" (click)="openUpdateModal(Reclamation)">Edit</button>

                  </div>

                  <hr>
                  <p class="card-title regular">{{ 'Domain: ' + Reclamation.domain }}</p>
                  <p class="card-text text-secondary">{{ Reclamation.description }}</p>
                </div>

                <button class="btn btn-danger" (click)="deleteReclamation(Reclamation.idReclamation)">Delete Reclamation</button>              </div>
            </div>

            <!-- Modal for updating stage -->
            <div id="updateModal" class="modal" #updateModal style="display: none;">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Update Reclamation</h4>
                    <button type="button" class="btn-close" aria-label="Close" (click)="closeUpdateModal()"></button>
                  </div>
                  <div class="modal-body">
                    <form class="form" (submit)="updateReclamation()">
                      <div class="mb-3">
                        <label for="updatetitle" class="form-label">Title</label>
                        <input type="text" class="form-control" id="updatetitle" name="title" [(ngModel)]="selectedRec.title" required>
                      </div>
                      <div class="mb-3">
                        <label for="updatedescription" class="form-label">Description</label>
                        <textarea class="form-control" id="updatedescription" name="description" [(ngModel)]="selectedRec.description" required></textarea>
                      </div>
                      <!-- End of repeated input fields -->
                      <button type="submit" class="btn btn-primary">Update Stage</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ADD -->
        <div class="col-lg-4">
          <form class="form" (submit)="addReclamation()">
            <h4 class="mb-3 bold">Add New Reclamation</h4>

            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" [(ngModel)]="newRec.subject" required>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea class="form-control" id="description" name="description" [(ngModel)]="newRec.description" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Reclamation</button>
          </form>
        </div>

      </div>
    </div>

  </section>





  <app-footer></app-footer>
</main>

</body>

</html>