<app-header [pageTitle]="'Welcome'"></app-header>
<div class="position-relative">
    <div class="shape-divider shape-divider-bottom shape-divider-fluid-x text-contrast"><svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"></path>
        </svg></div>
</div>
<section class="section">
     
  <!-- Modal for adding post -->
    <div class="container">
        <div class="row gap-y">
            <div class="col-lg-8 b-r">
                <div class="row gap-y">
                    <div class="col-md-12" *ngFor="let post of posts">
                        <div class="card card-blog shadow-box shadow-hover border-0">
                            <a href="blog-post.html"></a>
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="author d-flex align-items-center">
                                        <img class="author-picture rounded-circle icon-md shadow-box" src="../img/avatar/user.png" alt="...">
                                        <p class="small bold my-0">{{ post.idPost }}</p>
                                    </div>
                                    <nav class="nav">
                                        <a href="javascript:;" class="d-flex align-items-center text-secondary me-3 blog-action blog-favorite">
                                            <i class="fas fa-heart text-danger me-2"></i>
                                            <span class="small">{{ post.nbrlike }}</span>
                                        </a>
                                        <a href="javascript:;" class="d-flex align-items-center text-secondary blog-action blog-bookmark">
                                            <i class="far fa-bookmark me-2"></i>
                                            <span class="small">{{ post.nbrsave }}</span>
                                        </a>
                                    </nav>
                                </div>
                                <hr>
                                <p class="card-text text-secondary" style="font-weight: bold; font-style: italic; color: #00FF00;">{{ post.title  }}</p>  
                                <p class="card-text text-secondary">{{ post.description }}</p>
                                <nav class="comment-actions d-flex justify-content-end">
                                    <a href="javascript:;" class="d-flex align-items-center text-secondary me-3 blog-action blog-favorite">
                                      
                                        <p class="card-text text-secondary">{{ post.creationdate }}</p>
                                    </a>
                                </nav>
                                  <!-- Display comments from friends -->
                                    <!-- Comments section -->
                                    <div class="comments-section mt-4">
                                        <!-- Display comments from friends -->
                                        <!-- Your existing comments HTML goes here -->
                                        <div class="comment" *ngFor="let comment of post.comments">
                                            <div class="comment-header">
                                                <img src="user-avatar.jpg" alt="User Avatar" class="user-avatar">
                                                <div class="user-info">
                                                    <span class="user-name"> John Doe</span>
                                                    <span class="timestamp">2h ago</span>
                                                </div>
                                            </div>
                                            <p>{{comment.description}}</p>
                                            <div *ngIf="ClickedUpdate === true && comment.idComment === chosenComment">
                                                <form [formGroup]="commentForm"
                                                    (submit)="modifyComment(post.idPost,comment.idComment)">
                                                    <div class="new-comment mt-3">
                                                        <textarea class="form-control" rows="2"
                                                            placeholder={{comment.description}} id="description"
                                                            name="description" formControlName="description"
                                                            required></textarea>

                                                        <div
                                                            class="form-group d-flex align-items-center justify-content-between mt-2">
                                                            <button type="submit"
                                                                class="btn btn-primary btn-rounded ms-auto"
                                                                style="padding: 5px 20px; font-size: 16px;">
                                                                <i class="fas fa-paper-plane"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- Buttons for update and delete -->
                                            <div class="comment-actions d-flex justify-content-end">
                                                <button class="btn btn-link"
                                                    (click)="showCommentForm(comment.idComment)">Update</button>
                                                <button class="btn btn-link"
                                                    (click)="removecomment(comment.idComment)">Delete</button>
                                            </div>
                                        </div>


                                        <!-- Add new comment -->
                                        <form [formGroup]="commentForm"
                                            (submit)="addCommentToPostAndUser(post.idPost, 1)">
                                            <div class="new-comment mt-3">
                                                <textarea class="form-control" rows="2" placeholder="Write a comment"
                                                    id="description" name="description" formControlName="description"
                                                    required></textarea>

                                                <div
                                                    class="form-group d-flex align-items-center justify-content-between mt-2">
                                                    <button type="submit" class="btn btn-primary btn-rounded ms-auto"
                                                        style="padding: 5px 20px; font-size: 16px;">
                                                        <i class="fas fa-paper-plane"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>


                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="nav justify-content-center mt-5"><a class="btn btn-contrast btn-rounded me-5" href="#"><i class="fas fa-angle-left"></i> Previous</a> <a class="btn btn-contrast btn-rounded" href="#">Next <i class="fas fa-angle-right"></i></a></nav>
            </div>
            <div class="col-lg-4">
                <h4 class="mb-3 bold">Search</h4>
                <form class="form search-box" ngSubmit="">
                    <div class="row">
                        <div class="col-10">
                            <div class="input-group">
                                <input type="email" name="Search[q]" class="form-control rounded-circle-left shadow-none" placeholder="Search form..." required>
                            </div>
                        </div>
                        <div class="col-2">
                            <button class="btn rounded-circle-right btn-contrast border-input" type="submit" click="" data-loading-text="Searching ...">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                
               <!-- <h4 class="mt-5 mb-3 bold">Latest Posts</h4>-->
                <ul class="list-unstyled">
                    <li class="d-flex align-items-center"><a href="blog-post.html" class="d-flex me-3 py-2"><img class="rounded-circle icon-xl shadow" src="https://picsum.photos/100/100/?random&gravity=north" alt="..."></a>
                        <div class="flex-fill">
                            <h6 class="semi-bold mt-0 mb-1"><a href="blog-post.html" class="text-dark">Newst post</a></h6><span class="small text-muted"><i class="fas fa-calendar"></i> May 21 2021</span>
                        </div>
                    </li>
                    <li class="d-flex align-items-center"><a href="blog-post.html" class="d-flex me-3 py-2"><img class="rounded-circle icon-xl shadow" src="https://picsum.photos/100/100/?random&gravity=south" alt="..."></a>
                        <div class="flex-fill">
                            <h6 class="semi-bold mt-0 mb-1"><a href="blog-post.html" class="text-dark">most liked post </a></h6><span class="small text-muted"><i class="fas fa-calendar"></i> May 21 2021</span>
                        </div>
                    </li>
                 
                </ul>
              
                
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>