<app-navbar></app-navbar>
<section class="section block bg-contrast">
    <div class="container py-4">
        <div class="section-heading text-center">
            <h2 class="bold">Your Skills</h2>
            
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">name</th>
                            <th scope="col">description</th>
                            <th scope="col">level</th>
                            <th scope="col">Action</th>
                                    
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>.Net</td>
                            <td>i have certificat</td>
                            <td>1</td>
                            <td> <div class="me-5 mb-3"><button type="submit" class="btn btn-rounded btn-outline-success">update</button></div></td>
                            <td> <div class="me-5 mb-3"><button type="submit" class="btn btn-rounded btn-outline-success">delete</button></div></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>springboot</td>
                            <td>medium level with auto formation</td>
                            <td>3</td>
                            <td> <div class="me-5 mb-3"><button type="submit" class="btn btn-rounded btn-outline-success">update</button></div></td>
                            <td> <div class="me-5 mb-3"><button type="submit" class="btn btn-rounded btn-outline-success">delete</button></div></td>
                            
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>angular</td>
                            <td>good level with three internship with this framework</td>
                            <td>1</td>
                            <td> <div class="me-5 mb-3"><button type="submit" class="btn btn-rounded btn-outline-success">update</button></div></td>
                            <td> <div class="me-5 mb-3"><button type="submit" class="btn btn-rounded btn-outline-success">delete</button></div></td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<app-footercomp></app-footercomp>
