<!doctype html>
<html lang="en">
<body>

<app-header [pageTitle]="'Skills'"></app-header>

<body>
    <main>

<section class="section block bg-contrast">
    <div class="container py-4">
        <div class="section-heading text-center">
            <h2 class="bold">Your Skills</h2>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <form>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">name</th>
                                <th scope="col">description</th>
                                <th scope="col">level</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let competence of competences">
                                <th scope="row">{{ competence.id }}</th>
                                <td>{{ competence.name }}</td>
                                <td>{{ competence.description }}</td>
                                <td>{{ competence.importanceLevel }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-rounded btn-outline-success" (click)="updateCompetence(competence.idCompetences)">update</button>
                                        <button type="button" class="btn btn-rounded btn-outline-danger" (click)="deleteComp(competence.idCompetences)">delete</button>
                                    </div>
                                </td>
                                
                               
                            </tr>
                        </tbody>
                  
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>
</main>


<app-footer></app-footer>
</body>