<div>
    <br>
   <h2> <app-navbaradmin></app-navbaradmin></h2>
<br>
<!-- Planning Form -->
<div class="card card-clean mb-4 shadow-box">
    <div class="card-header bg-contrast">
        <h5 class="bold">Add Planning</h5>
    </div>
    <div class="card-body">
        <form (ngSubmit)="addPlanning()" class="needs-validation">
            <div class="form-group">
                <label for="planDescription">Plan Description</label>
                <input type="text" class="form-control form-control-rounded" id="planDescription" [(ngModel)]="newPlanning.planDescription" name="planDescription" required>
                <div class="invalid-feedback">Plan description is required.</div>
            </div>
            <div class="form-group">
                <label for="durationInMonths">Duration (in months)</label>
                <input type="number" class="form-control form-control-rounded" id="durationInMonths" [(ngModel)]="newPlanning.durationInMonths" name="durationInMonths" required>
                <div class="invalid-feedback">Duration is required.</div>
           <div class="form-group">
    <label for="InternshipRequired">Internship Required</label>
   <!-- <input type="checkbox" [(ngModel)]="newPlanning.internshipRequired" id="internshipRequired" name="internshipRequired">-->
    <input type="checkbox" [(ngModel)]="newPlanning.internshipRequired" id="isInternshipRequired" name="isInternshipRequired">

</div>
<div class="form-group">
    <label for="Completed">Completed</label>
    <input type="checkbox" [(ngModel)]="newPlanning.completed" id="isCompleted" name="isCompleted">
</div>

            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>



