/* Stylisation générale de la navbar */
.navbar {
    background-color: #978a8a; /* Change la couleur de fond */
    padding: 0.7rem 1rem; /* Ajuste le padding pour un look plus compact */
  }
  
  /* Stylisation de la marque ou du logo de la navbar */
  .navbar-brand {
    color: #ffffff !important; /* Assure que la marque soit bien visible */
    font-weight: bold;
    font-size: 1.5rem; /* Agrandit la taille de la police pour plus de visibilité */
    transition: color 0.3s; /* Douce transition pour les changements de couleur */
  }
  
  .navbar-brand:hover, .navbar-brand:focus {
    color: #582d2d !important; /* Légèrement plus clair au survol */
  }
  
  /* Stylisation des liens de la navbar */
  .nav-link {
    color: #490505 !important; /* Assure que les liens soient bien visibles */
    transition: color 0.3s; /* Douce transition pour les changements de couleur */
  }
  
  .nav-link:hover, .nav-link:focus {
    color: #cce5ff !important; /* Légèrement plus clair au survol */
  }
  
  /* Bouton du menu hamburger en mode responsive */
  .navbar-toggler {
    border-color: #cce5ff !important; /* Couleur de la bordure ajustée pour mieux ressortir */
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(204, 229, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    /* Change la couleur de l'icône du bouton */
  }
  
  /* Style pour les éléments actifs */
  .nav-item.active .nav-link {
    color: #cce5ff !important; /* Plus clair pour marquer l'élément actif */
    background-color: #8f7070; /* Fond légèrement plus foncé pour l'élément actif */
  }
  
  /* Améliorations responsives */
  @media (max-width: 992px) {
    .navbar-collapse {
      background-color: #470104; /* Assure un fond cohérent quand le menu est déplié */
    }
  
    .nav-link {
      color: #610303 !important; /* Maintient les liens visibles en mode déplié */
    }
  }
  
.competences-container {
    margin-top: 40px; /* Ajoutez un espace au-dessus des compétences */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; /* Espacement entre les super-cards */
  }
  .competences-title {
    font-size: 24px; /* Taille de la police */
    color: #333; /* Couleur du texte */
    margin-bottom: 20px; /* Espace en dessous du titre */
    text-align: center; /* Centrer le texte */
    padding: 10px; /* Padding autour du texte */
    background-color: #f0f0f0; /* Couleur de fond */
    border-radius: 8px; /* Bordures arrondies */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre douce */
  }
  
  .super-card {
    width: 100%;
    max-width: 960px; /* Ajustez selon la largeur désirée */
    background: #f7f7f7; /* Fond légèrement gris pour distinguer les super-cards */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Bordures arrondies */
    padding: 20px; /* Espacement intérieur */
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacement entre les cartes */
  }
  
  .card-wrap {
    flex: 0 1 calc(33.333% - 20px); /* Trois cartes par ligne avec l'espacement */
  }
  
  @media (max-width: 768px) {
    .card-wrap {
      flex: 0 1 calc(50% - 20px); /* Deux cartes par ligne sur les écrans plus petits */
    }
  }
  
  @media (max-width: 480px) {
    .card-wrap {
      flex: 0 1 100%; /* Une carte par ligne sur les écrans très petits */
    }
  }
  