<app-header></app-header>
<section class="section">
    <div class="container">
        <div class="row gap-y">

            <!-- Profile section on the left -->
            <div class="col-md-4">
                <div class="card card-blog shadow-box shadow-hover border-0">
                    <div class="card-body">
                        <!-- Profile information with a profile picture -->
                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <div class="author d-flex align-items-center">
                                <img class="author-picture rounded-circle icon-md shadow-box" src="../img/avatar/user.png" alt="...">
                                <div class="ms-2">
                                    <p class="small bold my-0">John Doe</p>
                                    <p class="small text-secondary">Web Developer</p>
                                    <!-- Add more profile information as needed -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Post section on the right -->
            <div class="col-md-8">
                <div class="row gap-y">
                    <div class="col-md-6" *ngFor="let post of posts">
                        <div class="card card-blog shadow-box shadow-hover border-0 position-relative">
                            <a href="blog-post.html">
                                <img class="card-img-top img-responsive" src="https://picsum.photos/350/200/?random&gravity=north" alt="">
                            </a>
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="author d-flex align-items-center">
                                        <img class="author-picture rounded-circle icon-md shadow-box" src="../img/avatar/user.png" alt="...">
                                        <p class="small bold my-0">{{ post.idPost }}</p>
                                    </div>
                                    <nav class="nav">
                                        <a href="javascript:;" class="d-flex align-items-center text-secondary me-3 blog-action blog-favorite">
                                            <i class="fas fa-heart text-danger me-2"></i>
                                            <span class="small">{{ post.nbrlike }}</span>
                                        </a>
                                        <a href="javascript:;" class="d-flex align-items-center text-secondary blog-action blog-bookmark">
                                            <i class="far fa-bookmark me-2"></i>
                                            <span class="small">{{ post.nbrsave }}</span>
                                        </a>
                                    </nav>
                                </div>
                                <hr>
                                <p class="card-title regular"><a href="blog-post.html">{{ post.title }}</a></p>
                                <p class="card-text text-secondary">{{ post.description }}</p>

                           <!-- Three dots dropdown menu -->
<div class="dropdown position-absolute top-0 end-0 mt-2 me-2">
    <button class="btn btn-link" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v" style="color: black;"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item" (click)="deletePost(post.idPost)">Delete post</button>
        <button class="dropdown-item" (click)="modifyPost(post)">Update post</button>
    </div>
</div>


                                <!-- Comments section -->
                                <div class="comments-section mt-4">
                                    <!-- Display comments from friends -->
                                    <!-- Your existing comments HTML goes here -->

                                    <!-- Add new comment -->
                                    <div class="new-comment mt-3">
                                        <textarea [(ngModel)]="newComment" class="form-control" rows="2" placeholder="Write a comment"></textarea>
                                    <!--     <button (click)="addComment(commentidcomment)" class="btn btn-primary mt-2">Add Comment</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <nav class="nav justify-content-center mt-5">
            <a class="btn btn-outline-primary btn-rounded me-5" href="javascript:;"><i class="fas fa-angle-left me-3"></i> Previous</a>
            <a class="btn btn-outline-primary btn-rounded" href="javascript:;">Next <i class="fas fa-angle-right ms-3"></i></a>
        </nav>
    </div>
</section>
<app-footer></app-footer>