body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  margin: 0;
  height: 100vh; /* Ensure the body takes up the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.mt-3 {
  max-width: 100%; /* Override Bootstrap's default max-width for .container */
}

.card {
  margin: auto; /* Center the card vertically in the flex container */
  width: auto; /* Adjust width based on content */
}

button, button:hover, button:active, button:focus, button:visited, .btn, .btn:hover, .btn:active, .btn:focus, .btn:visited {
  text-decoration: none !important;
  outline: none !important;
}

.btn.disabled, .btn[disabled] {
  cursor: default;
  opacity: 1;
}

#quiz {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: .015em;
}

#quiz .container-fluid {
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#quiz-stats, #quiz-question, #quiz-options {
  padding: 16px;
}

.quiz-ans-btn {
  font-size: 20px;
  color: #fff;
  width: 45%;
  min-height: 75px;
  padding: 5px;
  background-color: #669999;
  border-radius: 50px;
  margin: 8px;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.quiz-ans-btn:hover, .btn.quiz-ans-btn:active, .btn.quiz-ans-btn:focus {
  background-color: #476b6b;
}

.quiz-ans-btn.correct {
  background-color: #29a329;
}

.quiz-ans-btn.incorrect {
  background-color: #e60000;
}

#quiz-play-again-btn {
  font-size: 32px;
  color: #fff;
  background-color: #669999;
  border: 8px double #fff;
  border-radius: 14px;
  padding: 5px 10px;
  width: 33%;
  min-height: 100px;
  margin: 20px auto;
}

#quiz-play-again-btn:hover, #quiz-play-again-btn:active, #quiz-play-again-btn:focus {
  background-color: #476b6b;
}

@media (max-width: 768px) {
  #quiz-stats, #quiz-question, #quiz-options {
    font-size: 14px; /* Slightly reduce font size for smaller screens */
  }
  
  .quiz-ans-btn {
    font-size: 16px; /* Adjust button font size for readability */
    min-height: 65px; /* Ensure buttons are still easily tappable */
  }
  
  #quiz-play-again-btn {
    font-size: 28px; /* Adjust play again button for smaller screens */
    width: 66%; /* Increase width for better visibility */
  }
}
