body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  margin: 0;
  height: 100vh; /* Ensure the body takes up the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.mt-3 {
  max-width: 100%; /* Override Bootstrap's default max-width for .container */
}

.card {
  margin: auto; /* Center the card vertically in the flex container */
  width: auto; /* Adjust width based on content */
}

button, button:hover, button:active, button:focus, button:visited, .btn, .btn:hover, .btn:active, .btn:focus, .btn:visited {
  text-decoration: none !important;
  outline: none !important;
}

.btn.disabled, .btn[disabled] {
  cursor: default;
  opacity: 1;
}

#quiz {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: .015em;
}

#quiz .container-fluid {
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#quiz-stats, #quiz-question, #quiz-options {
  padding: 16px;
}

.quiz-ans-btn {
  font-size: 20px;
  color: #fff;
  width: 45%;
  min-height: 75px;
  padding: 5px;
  background-color: #669999;
  border-radius: 50px;
  margin: 8px;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.quiz-ans-btn:hover, .btn.quiz-ans-btn:active, .btn.quiz-ans-btn:focus {
  background-color: #476b6b;
}

.quiz-ans-btn.correct {
  background-color: #29a329;
}

.quiz-ans-btn.incorrect {
  background-color: #e60000;
}

#quiz-play-again-btn {
  font-size: 32px;
  color: #fff;
  background-color: #669999;
  border: 8px double #fff;
  border-radius: 14px;
  padding: 5px 10px;
  width: 33%;
  min-height: 100px;
  margin: 20px auto;
}

#quiz-play-again-btn:hover, #quiz-play-again-btn:active, #quiz-play-again-btn:focus {
  background-color: #476b6b;
}

@media (max-width: 768px) {
  #quiz-stats, #quiz-question, #quiz-options {
    font-size: 14px; /* Slightly reduce font size for smaller screens */
  }
  
  .quiz-ans-btn.correct, .quiz-ans-btn.correct:hover, .quiz-ans-btn.correct:focus {
    background-color: #28a745 !important; /* Green for correct answers */
    color: white !important;
  }
  
  .quiz-ans-btn.incorrect, .quiz-ans-btn.incorrect:hover, .quiz-ans-btn.incorrect:focus {
    background-color: #dc3545 !important; /* Red for incorrect answers */
    color: white !important;
  }
  
}
/* Form container styling within the success alert */
.email-input-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Style adjustments for input fields within the email-input-container */
.email-input-container input[type="email"],
.email-input-container input[type="text"] {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button styling within the success alert */
.alert-success .btn-primary {
  width: calc(50% - 10px);
  margin-top: 10px;
  background-color: #4CAF50; /* Green */
  border-color: #4CAF50;
}

.alert-success .btn-primary:hover {
  background-color: #45a049;
  border-color: #45a049;
}

/* Styling for error or information modals */
.swal2-container {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif; /* consistent font style */
}

/* Enhance the readability of buttons in Swal modal */
.swal2-styled.swal2-confirm,
.swal2-styled.swal2-cancel {
  font-size: 16px;
  padding: 10px 20px; /* More padding for better clickability */
}

/* Responsive styling for form inputs and buttons on smaller screens */
@media (max-width: 768px) {
  .email-input-container input[type="email"],
  .email-input-container input[type="text"],
  .alert-success .btn-primary {
      width: 100%; /* Full width for smaller screens */
      margin-top: 0;
  }
}
